@import url('https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;500;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    max-width: 1025px;
    background-color: #b0bfc5;
    color: #1E1E1E;
    margin-inline: auto;
    font-family: "Fira Mono";
    padding: 10px;

    h1,
    h2,
    h3,
    p {
        margin: 0;
    }

    h1 {
        font-size: clamp(40px, 10vw, 60px);
        font-weight: bold;
    }

    h2 {
        font-size: clamp(20px, 5vw, 26px);
        margin-block: 10px;
    }

    h3 {
        font-size: clamp(15px, 4vw, 16px);
        font-weight: bold;
        margin-bottom: 4px;
    }

    h4 {
        margin: 0;
        font-size: 18px;
    }

    p {
        font-size: clamp(13px, 4vw, 16px);
        line-height: 30px;
    }

    section {
        margin-block: 4vh;
    }

    section h2 {
        margin-left: 5px;
    }
}

.card {
    display: grid;
    align-content: center;
    border-radius: 10px;
    background-color: #e1e8eb;
    color: #1E1E1E;
    border: solid 2px #1E1E1E;
    box-shadow: 3px 3px #1E1E1E;

    &.full {
        width: 100%;
        padding: 40px;
        background-color: rgb(25, 90, 160);
        color: white;
    }

    &.big {
        background-color: rgba(121, 82, 179, 1);
        color: white;
    }

    &.medium {
        background-color: rgba(255, 193, 7, 1);
    }

    &.small {
        text-align: center;
        min-height: 80px;
    }
}

.first-row {
    display: grid;
    grid-template-columns: 5fr 3fr;
    gap: 2%;
    margin-bottom: 20px;

    .card {
        padding: 0 40px 0 40px;
        min-height: 220px;
    }
}

.current-weather-data-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
    gap: 6% 2%;
}

.four-days-pronostic-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, 220px);
    justify-content: space-between;
    gap: 2%;
}

.card.pronostic {
    display: grid;
    justify-content: center;
    align-items: start;
    min-height: 300px;
    box-shadow: none;
}

.card.pronostic img {
    max-height: 150px;
}

.card.pronostic p {
    font-weight: bold;
    letter-spacing: 1px;
}

/* .facts button {
    width: 100px;
    display: grid;
    place-items: center;
    width: 100px;
    border-radius: 10px;
    font-size: 30px;
    height: 80px;
    margin-top: 2%;
} */


@media (max-width : 870px) {

    .first-row {
        grid-template-columns: 1fr;
        gap: 15px;
        margin-bottom: 15px;

        .card {
            padding: 8%;
            min-height: 170px;
        }
    }

    .current-weather-data-container {
        gap: 10px 4%;
    }

    .card.full {
        padding: 20px 30px;
    }

    body {
        padding: 5px 10px;

        &section {
            margin-block: 10vh;

            &h2 {
                font-size: 20px;
            }
        }
    }

}
